body{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin: 0 ;
    padding: 0;
    background-color: rgb(44, 29, 36);
    color: rgb(187, 239, 239);
    font-size: 50px;
    text-align: center; 
}