.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* text-align: center; */
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
    /* text-align: center; */
}
form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
input[type="text"]{
    width: 300px;
    padding:10px;
    border:1px solid #ccc;
    border-radius: 5px;
}
button{
    padding: 10px 20px;
    background-color: rgb(104, 69, 136);
    border:none;
    border-radius: 5px;
    color:rgb(217, 206, 220);
    cursor: pointer;
    margin:0 3px;
    transition: 1s all ease;
}
button:hover{
    background-color: rgb(113, 99, 126);;
}
.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1px) );
    gap: 20px;
}
.movie-card{
    background-color: rgb(131, 110, 151);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(66, 65, 65);
}
.movie-card img{
    width:100%;
    height: auto;
    margin-bottom: 10px;
}
.movie-card h2{
    font-size: 18px;
    margin-bottom: 5px;
}
.movie-card p{
    font-size: 15px;
    margin-bottom: 5px;
}

